<h1>Editing Requirement</h1>

<%= render 'form', requirement: @requirement %>

<%= link_to 'Show', @requirement %> |

<% if params[:major] %>
  <%= link_to 'Back to AOC', major_path(params[:major]) %>
<% else %>
  <%= link_to 'Back', majors_path %>
<% end %>

