<footer class="footer">
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3">&copy; 2019</small>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a href="" class="link-white">Contact</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>NCF</h5>
      <ul class="list-unstyled text-small">
        <li><a href="https://www.ncf.edu" class="link-white">NCF Homepage</a></li>
        <li><a href="https://www.ncf.edu/academics/undergraduate-program/" class="link-white">NCF Academic Divisions</a></li>
        <li><a href="https://www.ncf.edu/academics/undergraduate-program/#jumbotron-999d6c8049" class="link-white">NCF Academic Programs</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#" class="link-white">Team</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>