<% content_for :hero_head do %>
  <h1>Edit a Completed Course</h1>
<% end %>

<% content_for :content do %>
  <%= render 'form', completed_course: @completed_course %>

  <%= link_to 'Show', @completed_course %> |
  <%= link_to 'Back', completed_courses_path %>
<% end %>