<% content_for :hero_head do %>
  <h1>All Declared Programs</h1>
<% end %>

<% content_for :hero_lead do %>
  <p class="lead">
    Viewing all the declared program records in the system. Please speak to an administrator to delete a record.
  </p>
<% end %>

<% content_for :content do %>

  <!-- TODO: Statistics -->

  <!-- Table of all declared program records -->
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th>AOC</th>
      <th>User (email)</th>
    </tr>
    </thead>

    <tbody>
    <% @declared_programs.each do |program| %>
      <tr>
        <td><%= link_to program.major.title, declared_program_path(program) %></td>
        <td><%= program.user.email %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>