<% content_for :hero_head do %>
  <h1>Declare an AOC</h1>
<% end %>

<% content_for :hero_lead do %>
  <p class="lead">
    Declare an Area of Concentration (AOC). You may change this later.
  </p>
<% end %>

<% content_for :content do %>
  <%= render 'form', declared_program: @declared_program %>
<% end %>
